<div class="container">
<div class="col-md-8 col-md-offset-2" style="text-align: center;">
    <h2>Welcome to BrooklynBaby</h2>

  
    <p>Find trusted caregivers for your every need!</p>
  

  </div>
</div>
