<div class="container"><br>

    <h1 class="success"> Booking Details</h1><br>
    <p><strong> Rate: </strong><%= @booking.rate%><br></p>
    <p><strong> DateTime: </strong><%= @booking.datetime %><br></p>
    <p><strong> status: </strong><%= @booking.status %><br></p>
    <p><strong> Total_hours: </strong><%= @booking.total_hours %><br></p>

</div>