<div class="home">
    <h1>Hello<%= @user.name %>'s Profile</h1>
    <p class="text-light">Email: <%= @user.email %></p>
    <% if @user.image %>
        <img class="prof-image" src=<%= @user.image %> alt="user profile picture">
    <% end %>
    <br>
</div>