<div class="container">
<div class="col-md-8 col-md-offset-2" style="text-align: center;">
    <h2>Welcome to BrooklynBaby</h2>
  
    <p>Find trusted caregivers for your every need!</p>

    <p>Create a New Account</p><%= link_to "Sign Up Here", signup_path , class: "btn btn-md btn-primary" %><br> <br>

    <p>Log Into Existing Account</p><%= link_to "Log In Here", login_path , class: "btn btn-md btn-primary" %><br> <br>
  
  </div>
</div>


